<li class='box repo-details'>
  <h3 class='title is-4'>{{@repo.name}}</h3>
  <a href={{@repo.html_url}} target='_blank' rel='noopener noreferrer'>View on
    GitHub</a>
  <p>Language: {{@repo.language}}</p>
  <p>Branches: {{@repo.branches.length}}</p>
  <p>Stars: {{@repo.stargazers_count}}</p>
  <p>Visibility: {{if @repo.private 'Private' 'Public'}}</p>
  <button
    class='button is-small {{if this.isBranchesLoading 'is-loading'}}'
    type='button'
    {{on 'click' this.toggleBranches}}
  >{{if this.showBranches 'Hide' 'Show'}}
    Branches</button>
  {{#if this.showBranches}}
    <ul>
      {{#each @repo.branches as |branch|}}
        <li> - {{branch.name}}</li>
      {{/each}}
    </ul>
  {{/if}}
</li>