<div class="box repo">
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" checked={{@showPrivate}} {{on "change" @toggleShowPrivate}} />
        Show Private Repos
      </label>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <div class="select">
        {{!-- template-lint-disable require-input-label --}}
        <select {{on "change" @selectLanguage}}>
          <option value="">All Languages</option>
          {{#each @languages as |language|}}
            <option value={{language}}>{{language}}</option>
          {{/each}}
        </select>
        {{#if @repos}}
          <select {{on "change" @selectStarSorting}}>
            <option value="">Repos Stars</option>
            {{#each this.starSorting as |sorting|}}
              <option value={{sorting}}>{{sorting}}</option>
            {{/each}}
          </select>
        {{/if}}
      </div>
    </div>
  </div>
  {{#if this.showLoading}}
    <div class='loading'>
      <p>Loading...</p>
    </div>
  {{else}}
    <ul>
      {{#each @repos as |repo|}}
        <RepoItem
          @repo={{repo}}
          @fetchBranches={{@fetchBranches}}
        />
      {{/each}}
    </ul>
  {{/if}}
</div>
